body{
    /*background-color: #d4d6d7;*/
    background-color: #e3e3e3
}
.contenedorTotal{
      max-width: 1200px;
      /*border-top : 60px solid transparent;*/
} 

.cajaBuscar{
    width: 500px !important;
    max-width: 500px;
    min-width: 250px;
}   

input[type="checkbox"].check_existencia{
    display: none;
}

.etiquetafiltroexistenciachecked:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
}

.etiquetafiltroexistenciachecked{
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    width: 100%;
    color: #ffffff;
    text-decoration: none;  
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    background-color: #383636;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;  
}

.etiquetafiltroexistencia{
    cursor: pointer;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    width: 100%;
    color: #ffffff;
    text-decoration: none;  
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    background-color: #383636;
    padding:5px 5px 5px 5px;
    margin:5px 5px 5px 5px;
}

.etiquetafiltroexistencia:hover{
    color:  #C8C8C8 ;
}

.etiquetafiltroexistencia:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
}

.botonrango{
    font-family: 'Comfortaa', cursive;
    color: #ffffff;
    border: none;
    font-size: 14px;
    text-align: center;
    margin-left: 30%;
    margin-top: 5px;
    background-color:#383636;
}

.etiquetafiltro{
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    color: #282828 ;
}

.nombremarca{
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    color: #282828;
    position: relative;
    float: left;
    right: 0.5em;
    top: 1px;
    cursor: pointer;
}

.cantidadmarca{
    font-family: 'Comfortaa', cursive;
    font-size: 1em;
    color: #282828;
    position: relative;
    float: right;
    padding-right: 5px;
}

.contador_de_marca:hover{
    background-color: #ffffff; 
}

.contador_de_marca{
    text-overflow: ellipsis;
}

.nombremarca-checked{
    background-color: #ffffff;
    border: 1px solid #282828;
}

.tituloProd {
    /*
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: #333;
    border-bottom: 1px solid #31708f;
    margin-top: 0px;
    font-weight: 700;    
    */
    font-size: 1.5em;
}

.verImgs{
    font-family: 'Comfortaa', cursive;
    color: #337ab7;
    font-size: 1.5em;
    font-weight: 600;
}

.verImgs:hover{
     color: #333;
}

.tituloProd:hover{
    color: #337ab7;
}

.etiquetaprecio{
    padding-left: 0.5em;
    float: right;
    font-family: 'Comfortaa', cursive;
    color: #333;
    margin-top: 0px;
    font-size: 1.9em;
}

.etiquetaclave{
    margin-top:  0.4em;
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: #333;
    margin-top: 0px;
    font-size: 1.3em;
    font-weight: 700;
}

.etiquetacodigo{
    padding-top: 0.1em;
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: #333;
    margin-top: 0px;
    font-size: 1.3em;
    font-weight: 700;
}
    
.etiquetaexistencia{
    padding-left: 0.5em;
    float: right;
    font-family: 'Comfortaa', cursive;
    color: #a94442;
    margin-top: 0px;
    font-size: 14px;
    font-weight: 800;
}

.etiquetas1{
    font-family: 'Comfortaa', cursive;
    color: #337ab7;
    margin-top: 0px;
}


.etiquetas2{
    font-family: 'Comfortaa', cursive;
    color: #a94442;
    margin-top: 0px;
}

.etiquetas3{
    font-family: 'Comfortaa', cursive;
    color: #3c763d;
    margin-top: 0px;
}

.botonagregar{

    float: right;
    border: none;
    font-family: 'Comfortaa', cursive;
    font-size: 14px;
    color: #ffffff;
    text-decoration: none;  
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    background-color: #383636;
}


.botonagregar:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
}

    

.botonlogeado{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    background-color: #fff;
    color: #333;
    font-family: 'Comfortaa', cursive;
    border-radius: 4px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    cursor: pointer;
    width: 10em;
}


.botonParaLogin{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    background-color: #fff;
    color: #333;
    font-family: 'Comfortaa', cursive;
    border-radius: 4px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    cursor: pointer;
    width: 10em;
}

.etiquetalabeluser{
    text-align: right;
    font-family: 'Comfortaa', cursive;
    margin-right: 1em;
    color: #333;
}

.etiquetainputuser{
    text-align: left;
    font-family: 'Comfortaa', cursive;
    color: #000;
}

.etiquetaHeader{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-right: 1em;
    color: #333;
}

.contentInfoArt{
    padding-bottom: 10px;
    border-bottom: 1px solid #333;
    margin-bottom: 10px ;
}

.botoncopiar{
    border: none;
    position: relative;
    padding: 3px 10px;
    margin: 3px 7px 3px 0px;
    float: left;
    border-radius: 4px;
    font-family: 'Comfortaa', cursive;
    font-size: 17px;
    color: #FFF;
    text-decoration: none;  
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition:all 0.1s;
    background-color: #337ab7;
}

.etiquetasorden{
    font-family: 'Comfortaa', cursive;
    font-size: 1.3em;   
    color: #337ab7;
    padding-right: 1em;
    text-indent: -11px;
    font-weight: 700;
}

/*------------------------------------------------------------------------------------------------------*/
    
    /*.input-group .icon-addon .form-control {
        border-radius: 0;
    }

    .icon-addon {
        position: relative;
        color: #555;
        display: block;
    }

    .icon-addon:after,
    .icon-addon:before {
        display: table;
        content: " ";
    }

    .icon-addon:after {
        clear: both;
    }

    .icon-addon.addon-md .glyphicon,
    .icon-addon .glyphicon, 
    .icon-addon.addon-md .fa,
    .icon-addon .fa {
        position: absolute;
        z-index: 2;
        left: 10px;
        font-size: 14px;
        width: 20px;
        margin-left: -2.5px;
        text-align: center;
        padding: 10px 0;
        top: 1px
    }

    .icon-addon.addon-lg .form-control {
        line-height: 1.93;
        height: 56px;
        font-size: 28px;
        padding: 10px 16px 10px 50px;
        
    }*/

/*    .icon-addon.addon-sm .form-control {
        height: 30px;
        padding: 5px 10px 5px 28px;
        font-size: 12px;
        line-height: 1.5;
    }*/

    /*.icon-addon.addon-lg .fa,
    .icon-addon.addon-lg .glyphicon {
        font-size: 28px;
        margin-left: 0;
        left: 11px;
        top: 4px;
    }*/

/*
    .icon-addon.addon-md .form-control,
    .icon-addon .form-control {
        padding-left: 30px;
        float: left;
        font-weight: normal;
    }*/

/*    .icon-addon.addon-sm .fa,
    .icon-addon.addon-sm .glyphicon {
        margin-left: 0;
        font-size: 12px;
        left: 5px;
        top: -1px
    }*/

    /*.icon-addon .form-control:focus + .glyphicon,
    .icon-addon:hover .glyphicon,
    .icon-addon .form-control:focus + .fa,
    .icon-addon:hover .fa {
    color: #2580db;
}


.searchbox{
    font-family: 'Poiret One', cursive;
    
    color: #00308f;
}

.footer{
    padding-top: 0.85em;
    border: none;
    background-color: #111;
    color: #fff;
    text-align: center;
}*/


/* boton buscar */
/*.botonbuscar {
    -moz-box-shadow: 0px 10px 14px -7px #276873;
    -webkit-box-shadow: 0px 10px 14px -7px #276873;
    box-shadow: 0px 10px 14px -7px #276873;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
    background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
    background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
    background-color:#599bb3;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    border-radius:8px;
    display:inline-block;
    cursor:pointer;
    color:#fcfcfc;
    font-family: 'Poiret One', cursive;
    font-size:24px;
    font-weight:bold;
    padding:8px 42px;
    text-decoration:none;
    text-shadow:0px 1px 0px #3d768a;
    margin: 0px;
}
.botonbuscar:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
    background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
    background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
    background-color:#408c99;
}
.botonbuscar:active {
    position:relative;
    top:1px;
}*/


