{{define "footer_layout"}}
    
    <nav class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
    <a href="https://www.facebook.com/KoreIngenieria/">
        <p >&copy; 2017 Kore | Todos los derechos reservados.</p>
    </a>
    </div>
    </nav>

{{end}}