{{define "styles_pages"}}   
<link href="../../../../Recursos/Local/Index/Css/index.css" rel="stylesheet" type="text/css" />
<link href="../../../../Recursos/Global/Plugins/imageFiler/css/jquery.filer.css" rel="stylesheet">
{{end}}

{{define "header_layout"}}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand hidden-xs hidden-sm" href="#"><img alt="SearchAddom" src="../../../../Recursos/Local/Index/Imagenes/logokore.png"></a>
             
            <form class="navbar-form navbar-left" id="searchform" name="searchform" method="POST" action="/busqueda" >
                <div class="form-group">
                    <input type="text" class="form-control cajaBuscar" placeholder="¿Qué buscas? ...." value="{{.cadena_busqueda}}"  id="searchbox" name="searchbox" autofocus required >
                    <input type="hidden" id="orden" name="orden" value="numerooperaciones:false">
                </div>
                <button type="submit" class="btn btn-default"  id="searchbutton" form="searchform" ><span class="glyphicon glyphicon-search"></span> Buscar</button>
                <div id="inputs_generados"></div>
            </form>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {{if .NivelUsuario}}
                        {{if eq .NivelUsuario "0"}}
                            <div class="sesiondeusuario">
                                <div class="dropdown">
                                    <button class="botonlogeado dropdown-toggle" type="button" data-toggle="dropdown">Administrador
                                    <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li class="etiquetalogeo">Administrador</li>
                                            <li class="divider"></li>
                                            <li ><a class="etiquetalogeo" href="/AdministrarCuenta/{{.IdUsuario}}">Cuenta</a></li>
                                            <li class="divider"></li>
                                            <li><a  class="etiquetalogeo" href="/AdministrarUsuarios">Administrar</a></li>
                                            <li class="divider"></li>
                                            <li ><a class="etiquetalogeo" href="/logout">Cerrar Sesión</a></li>
                                        </ul>
                                </div>
                            </div>                                                    
                        {{end}}
                        {{if eq .NivelUsuario "1"}}
                            <div class="sesiondeusuario">
                                <div class="dropdown">
                                    <button class="botonlogeado dropdown-toggle" type="button" data-toggle="dropdown">Colaborador
                                    <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-left">
                                            <li class="etiquetalogeo">Colaborador</li>
                                            <li class="divider"></li>
                                            <li><a class="etiquetalogeo" href="/AdministrarCuenta/{{.IdUsuario}}">Cuenta</a></li>
                                            <li class="divider"></li>
                                            <li><a class="etiquetalogeo" href="/logout">Cerrar Sesión</a></li>
                                        </ul>
                                </div>
                            </div>
                        {{end}}
                        {{if eq .NivelUsuario "2"}}
                            <div class="sesiondeusuario">
                                <div class="dropdown">
                                    <button class="botonlogeado dropdown-toggle" type="button" data-toggle="dropdown">Usuario Registrado
                                    <span class="caret"></span></button>
                                        <ul class="dropdown-menu dropdown-menu-left">
                                            <li class="etiquetalogeo">Usuario Registrado</li>
                                            <li class="divider"></li>
                                            <li><a class="etiquetalogeo" href="/AdministrarCuenta/{{.IdUsuario}}">Cuenta</a></li>
                                            <li class="divider"></li>
                                            <li><a class="etiquetalogeo" href="/logout">Cerrar Sesión</a></li>
                                        </ul>
                                </div>
                            </div>
                        {{end}}             
                        {{if eq .NivelUsuario "3"}}
                            <div class="sesiondeusuario">
                                <button class="botonParaLogin" data-toggle="modal" data-target="#myModal5">Login</button>
                            </div>   
                        {{end}}                                                                                
                    {{else}}                    
                            <div class="sesiondeusuario">
                                <button class="botonParaLogin" data-toggle="modal" data-target="#myModal5">Login</button>
                            </div>                                       
                    {{end}}
            </div>
            <!-- /.navbar-collapse -->

    </div><!-- /.container-fluid -->
</nav>
{{end}}