{{define "styles_layout"}}
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet"> 
<link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"> 
<link href="../../Recursos/Global/Plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"> 
<link href="../../Recursos/Global/Plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<link href="../../Recursos/Global/Plugins/jquery/css/jquery.jgrowl.css" rel="stylesheet" type="text/css" />
<link href="../../Recursos/Local/Buscar/Css/Our.css" rel="stylesheet" type="text/css" />
{{end}}