{{define "index_layout"}}
<!DOCTYPE html>
<html lang="es">
<head>
	    <meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content ="IE=edge">
        <title>Bienvenido | VisorUSearch</title>

		{{template "styles_layout"}}
        {{template "styles_pages"}}
        
		{{template "scripts_layout"}}
		{{template "scripts_pages"}}
</head>
<body>
	{{template "header_layout" .}}
	{{template "content_body" .}}
</body>
<footer>
	<!-- {{template "footer_layout"}} -->
</footer>
</html>
{{end}}