
/*
*{
    font-family: 'Open Sans', sans-serif;
}
*/

body{
    /* background-image: url("fondo.png"); */
    background-color: #ffffff;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
    /*background: url("korelogo.png") bottom left no-repeat;*/
}
label{
    margin: 0;
    padding: 0;
}

/*class="modal-open" style="padding-right: 17px;*/

body.modal-open {
  padding-right: 0px !important;
}



/*  A  */
/*  B  */


.barrabuscadora{
    margin-top: 0%; 
    margin-left: 0%; 
    padding-right: 40%; 
    padding-top: 1%; 
}


.botoncopiar:active{
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform: translate(0px,5px);
}

.botonlogeo{
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    background-color: #66A2FF;
    color: #fff;
    font-family: 'Comfortaa', cursive;
    border-radius: 4px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    cursor: pointer;
}

.botonlogeo:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform: translate(0px,3px);
}



.botonlogeado:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform: translate(0px,3px);
}
.botonrecuperar{
    position: relative;
    top: 1.35em;
}

.botonregistarusuario{
    position: relative;
    top: 3em;
    border-color: 1px solid #737373;
    float: right;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    background-color: #66b3ff;
    color: #000;
    font-family: 'Comfortaa', cursive;
    border-radius: 4px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    cursor: pointer;
    width: 10em;

}

.botonregistarusuario:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform: translate(0px,3px);
}

.botonregistarusuariocancel{
    position: relative;
    top: 3em;
    border-color: 1px solid #737373;
    float: right;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    padding-right: 0.6em;
    padding-left: 0.6em;
    background-color: #ff8080;
    color: #000;
    font-family: 'Comfortaa', cursive;
    border-radius: 4px;
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
    -moz-transition: all 0.1s;
    cursor: pointer;
    width: 10em;

}

.botonregistarusuariocancel:active{
    transform: translate(0px,3px);
    -webkit-transform: translate(0px,3px);
    -moz-transform: translate(0px,3px);
}

.botoncambiarcontraseña {
    font-family: 'Comfortaa', cursive;
    float: right;

}


/*  C  */
.contenedor_main_order{
    padding: 10px 10px 10px 10px;
    position: relative;
    bottom: 30px; 
    width: 54.7em;
}
.contenedorfiltros{
    margin-left: 10px;
    position: absolute;
    right: 0px;
    left: 0px;
    top: 120px;
}


.contenedorsoloexistencia{
    padding-left: 40%;
    padding-top: 100%;
}

.contenedormarcasunicas{
    overflow-y: auto;
    height: 30.2em;
}


#contenedorlogo{
    position: absolute;
    top:54em;
}

#contenedorcreadopor{
    position: absolute;
    top:52em;
}

#contenedorlogodash{
    position: absolute;
    top:30em;
}

#contenedorcreadopordash{
    position: absolute;
    top:28em;
}

#contenedorcontador{
    position: absolute;
    top:68em;
    color: #fff;
}

.contadordash{
    color: #fff;
    position: relative;
}

.customAlert{
    margin: 0.1em;
    padding: 0.6em;
    border-color: #fff;
    font-family: 'Comfortaa', cursive;
    font-size: 0.9em;
    color:#fff;
    background-color: #000;
}

.customAlertClose{
    color: #fff;
    font-family: 'Comfortaa', cursive;
    float: right;
    border: none;
    margin-left: 1em;
    font-size: 1.5em;
    background: none;
    position: relative;
    bottom: 0.3em;
}
/*  D  */
/*  E  */

.etiquetacreadopor{
    font-family: 'Comfortaa', cursive;
    color: #FFF;
    font-size: 0.9em;
}

.etiquetacreadopordash{
    font-family: 'Comfortaa', cursive;
    color: #FFF;
    font-size: 0.9em;
}

.etiquetatitulomodal{
    margin-top:  0.4em;
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: #202224;
    margin-top: 0px;
    font-size: 1.5em;
}
.etiquetaaddinfo{
    margin-top:  0.4em;
    padding-left: 0.5em;
    font-family: 'Comfortaa', cursive;
    color: #7E868C;
    margin-top: 0px;
    font-size: 1em;
}

.etiquetaoperaciones{
    padding-left: 0.5em;
    float: right;
    font-family: 'Comfortaa', cursive;
    color: #084609;
    position: relative;
    margin-top: 0px;
    font-size: 0.9em;
}

.etiquetas4{
    font-family: 'Comfortaa', cursive;
    color: #B1ACE8;
    margin-top: 0px;
}
.etiquetas5{
    font-family: 'Comfortaa', cursive;
    color: #1D4C73;
    margin-top: 0px;
}

.etiquetas6{
    font-family: 'Comfortaa', cursive;
    color: #fff;
    margin-top: 0px;
}




.etiquetalogeo{
    text-align: center;
    font-family: 'Comfortaa', cursive;
    margin-right: 1em;
}

.etiquetaregistrarse{
    text-align: center;
    float:right;
    font-family: 'Comfortaa', cursive;
    margin-right: 1em;
}



.margeninputuser{
    padding-left: 5em;
}


/*  F  */
.filtrorango{
    width: 50%;
    text-align: center;
    float: left;
    font-family: 'Comfortaa', cursive;
}
/*  G  */
/*  H  */
/*  I  */
.informacionres{
    position: absolute;
    text-align: left;
    left: 1.1em;
    top: 5.7em;
}

.informacionreserror{
    position: absolute;
    text-align: left;
    top: 8em;
}

input[type="checkbox"].check_marca{
    display: none;
}

input[type="checkbox"].check_orden{
    display: none;
}

.iconuser{
    width: 40%;

    border: 2px solid #fff;

    border-radius: 5px;

    background-color: #31708f;
}
/*  J  */
/*  K  */
/*  L  */
.lineahr{
    position: relative;
    bottom: 20px;
}

.logo_dash{
    width: 40%;
}
/*  M  */
.marcas{
    position: absolute;
    float: left;
    cursor: pointer;
}

/*  N  */
/*  O  */
.orden_check{
    border: 2px solid #31708f;
    border-bottom: 5px solid #31708f;
}
/*  P  */
.precios{
    color: #43E843;
    font-size: 1.7em;
}
/*  Q  */
/*  R  */

/*  S  */

.sin_resultados{
    font-family: 'Comfortaa', cursive;
    font-size: 1.8em;
    color: #31708f;
    padding: 10px 10px 10px 10px;
    border: 1px solid #00A2FF;
    position: absolute;
    right: 0px;
    left: 21em;
    width: 18.5em;
    top: 10em;
}

.sesiondeusuario{
    position: absolute;
    top:1em;
    text-align: right;
    right: 1em;
}

/*  T  */
/*  U  */
/*  V  */
/*  W  */
/*  X  */
/*  Y  */
/*  Z  */

/* The Modal (background) */
.modalimg {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 2; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content-my {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content-my, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)}
    to {transform:scale(1)}
}

/* The Close Button */
.closer_b {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.closer_b:hover,
.closer_b:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}



/* The Trash Button */
.eliminar_b {
    position: absolute;
    top: 100px;
    right: 35px;
    color: #f1f1f1;
    font-size: 25px;
    font-weight: bold;
    transition: 0.3s;
}

.eliminar_b:hover,
.eliminar_b:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}

.miitem:hover{
    color: #f1f1f1;;
    text-decoration: none;
    cursor: pointer;
}




/*/ ===== == = === 20em (320px) === = == ===== /*/
@media only screen and (min-width : 20em) {
    .sin_resultados{
        left: 1em;
    }
}
/*/ ===== == = === 30em (480px) === = == ===== /*/
@media only screen and (min-width : 30em) {
    .sin_resultados{
        left: 3em;
    }

    .logo_dash{
        position: relative;
        top: 11em;
        right: 4em;
        width: 100%;
    }
}
/*/ ===== == = === 37.5em (600px) === = == ===== /*/
@media only screen and (min-width: 37.5em) {
    .sin_resultados{
        left: 5em;
    }

    .logo_dash{
        position: relative;
        top: 11em;
        right: 4em;
        width: 85%;
    }
    .contadordash{
        top: 8em;
        right: 3.4em;
    }
}
/*/ ===== == = === 48em (768px) === = == ===== /*/
@media only screen and (min-width : 48em) {
    .sin_resultados{
        left: 7em;
    }

    .logo_dash{
        position: relative;
        top: 11em;
        right: 3em;
        width: 75%;
    }
    .contadordash{
        top: 8em;
        right: 1.5em;
    }

    .informacionreserror{
        left: 10em;
    }
    .informacionreserror{
        left: 3em;
    }
}
/*/ ===== == = === 56.25em (900px) === = == ===== /*/
@media only screen and (min-width : 56.25em) {
    .sin_resultados{
        left: 12em;
    }
    #contenedorlogo{
        left: 2.2em;
    }

    #contenedorcreadopor{
        left: 4em;
    }

    .logo_dash{
        position: relative;
        top: 11em;
        right: 2em;
        width: 55%;
    }
    .contadordash{
        top: 8em;
        right: 1.5em;
    }
    .informacionreserror{
        left: 8em;
    }
}
/*/ ===== == = === 68.75em (1100px) === = == ===== /*/
@media only screen and (min-width : 68.75em) {
    .sin_resultados{
        left: 19.5em;
    }
    .contenedor_main_order{
        left:  55px;
    }
    #contenedorlogo{
        left: 4em;
    }
    #contenedorcreadopor{
        left: 5.5em;
    }
    .logo_dash{
        position: relative;
        top: 11em;
        width: 45%;
    }
    #contenedorcontador{
        left: 1.5em;

    }
    .contadordash{
        top: 8em;
        right: 1.5em;
    }
    .informacionreserror{
        left: 25em;
    }
}
/*/ ===== == = === 81.25em (1300px) === = == ===== /*/
@media only screen and (min-width : 81.25em) {
    .sin_resultados{
        left: 23em;
    }
    .contenedor_main_order{
        left:  100px;
    }
    #contenedorlogo{
        left: 4.6em;
    }
    #contenedorcreadopor{
        left: 5.9em;
    }
    .logo_dash{
        position: relative;
        top: 9em;
        width: 45%;
    }

    #contenedorcontador{
        left: 3em;

    }
    .contadordash{
        top: 6.5em;
    }
    .informacionreserror{
        left: 30em;
    }
}
/*/ ===== == = === 93.75em (1500px) === = == ===== /*/
@media only screen and (min-width : 93.75em) {
    .sin_resultados{
        left: 28em;
    }
    .contenedor_main_order{
        left:  160px;
    }
    #contenedorlogo{
        left: 5.6em;
    }
    #contenedorcreadopor{
        left: 6.8em;
    }

    .logo_dash{
        position: relative;
        top: 7em;
        width: 40%;
    }

    #contenedorcontador{
        left: 4em;

    }
    .contadordash{
        top: 5em;
    }
    .informacionreserror{
        left: 37em;
    }
}
/*/ ===== == = === 106.25em (1700px) === = == ===== /*/
@media only screen and (min-width : 106.25em) {
    .sin_resultados{
        left: 32em;
    }
    .contenedor_main_order{
        left:  190px;
    }
    #contenedorlogo{
        left: 7.5em;
    }
    #contenedorcreadopor{
        left: 8.9em;
    }

    .logo_dash{
        position: relative;
        top: 5em;
        width: 40%;
    }
    #contenedorcontador{
        left: 6em;

    }
    .contadordash{
        top: 3.5em;
    }
    .informacionreserror{
        left: 43em;
    }
}
/*/ ===== == = === 118.75em (1900px) === = == ===== /*/
@media only screen and (min-width : 118.75em) {
    .sin_resultados{
        left: 33em;
    }

    .contenedor_main_order{
        left:  220px;
    }

    #contenedorlogo{
        left: 8em;
    }

    #contenedorcreadopor{
        left: 9em;
    }

    .logo_dash{
        position: relative;
        top: 2em;
        width: 40%;
    }


    #contenedorcontador{
        left: 6.5em;

    }

    .contadordash{
        top: 2em;
        left: 1.5em;
        text-align: left;
    }

    .informacionreserror{
        left: 48em;
    }

}