{{define "scripts_pages"}}
<script src="../../../../Recursos/Local/Buscar/Js/buscar.js" type="text/javascript"></script>
<script src="../../../../Recursos/Global/Plugins/imageFiler/js/jquery.filer.min.js" type="text/javascript"></script>
<script src="../../../../Recursos/Local/Usuarios/js/Usuario.js" type="text/javascript"></script>
{{end}}

{{define "styles_pages"}}	
<link href="../../../../Recursos/Local/Buscar/Css/Our.css" rel="stylesheet" type="text/css" />
<link href="../../../../Recursos/Local/Index/Css/index.css" rel="stylesheet" type="text/css" />
<link href="../../../../Recursos/Global/Plugins/imageFiler/css/jquery.filer.css" rel="stylesheet">
{{end}}

{{define "content_body"}}
    {{.SesionUsuario}}
    <!--<h1> Usuarios </h1>-->
    <div class="container-fluid contenedorTotal" >
        <div class="hidden-xs">
            <br/>
            <br/>
            <br/>
        </div>
	    <div class="row">
            <div class="col-md-12">
                
                <div class="panel panel-default">
                    <div class="panel-body">
                    <h1 class="etiquetaHeader">Usuarios</h1>
                    </div>
                </div>             

                <table class="table table-hover" id="tableUsuarios" > 
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Usuario</th>
                            <th>Nivel</th>
                            <th>Correo</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{range $index, $Usuario := .Usuarios}}
                            <tr id="{{$Usuario.ID.Hex}}">
                                <td>{{$Usuario.Nombre}}</td>
                                <td>{{$Usuario.Username}}</td>
                                <td>{{$Usuario.Nivel}}</td>
                                <td>{{$Usuario.Correo}}</td>
                            </tr>
                        {{end}}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
<!--{{.MensajeT}}-->
<!--{{.ModificarUsuario}}-->
{{end}}