{{define "scripts_pages"}}
<script src="../../../../Recursos/Local/Buscar/Js/buscar.js" type="text/javascript"></script>
<script src="../../../../Recursos/Global/Plugins/imageFiler/js/jquery.filer.min.js" type="text/javascript"></script>
{{end}}

{{define "styles_pages"}}	
<link href="../../../../Recursos/Local/Index/Css/index.css" rel="stylesheet" type="text/css" />
<link href="../../../../Recursos/Global/Plugins/imageFiler/css/jquery.filer.css" rel="stylesheet">
{{end}}


{{define "content_body"}}

{{ $variable := .Agregaciones }}
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<!--
<div id="contenedorcreadopor" class="hidden-xs hidden-sm">
<span class="etiquetacreadopor">Created by</span>
</div>
<div id="contenedorlogo" class="hidden-xs hidden-sm">
<a href="https://www.facebook.com/KoreIngenieria/">
<img src='../../../../Recursos/Local/Buscar/Css/korelogo_small.png' alt='Lights' style='width:100%'>
</a>
</div>

<div id="contenedorcontador">
	<span class="etiquetacontador">
		Busquedas realizadas: {{.VecesUsado}}
	</span>
</div>
-->

<!-- {{.SesionUsuario}} -->
<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
<div class="container-fluid contenedorTotal" >
	<div  class="hidden-xs-down" >
		<br/>
		<br/>
		<br/>
	</div>
	<div class="row">

		<div class="col-md-3">

			<div class="hidden-xs hidden-sm">
				<a href="https://www.facebook.com/KoreIngenieria/">
					<img src='../../../../Recursos/Local/Buscar/Css/korelogo_small - copia.png' alt='Kore'>
				</a>
    		</div>
    		<div>
				<span class="etiquetacontador">
					Busquedas realizadas: {{.VecesUsado}}
				</span>
    		</div>

			<!-- Inicio Seccion  Para Mostrar Los Filtros-->
			{{.Filtros}}
			<!-- Termina Seccion  Para Mostrar Los Filtros-->

		</div>

		<div class="col-md-9">

			<!-- Inicio Seccion Mostrar Mensaje Si Existe -->
			{{if .Estatus.SEstado}}
				{{if .Estatus.SMsj}}
					<div class="alert alert-success alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center><strong>{{.Estatus.SMsj}}</strong> </center>
					</div>
				{{end}}	
			{{else}}	
				{{if .Estatus.SMsj}}
					<div class="alert alert-danger alert-dismissible" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<center><strong>{{.Estatus.SMsj}}</strong> </center>
					</div>
				{{end}}
			{{end}}
			<!-- Termina Seccion Mostrar Mensaje Si Existe -->

			<!--Inicio Seccion de mostrar ordenadores -->
			{{.Ordenadores}}
			<br/>
			<!-- Termina Seccion de mostrar ordenadores -->

            <!-- Inicio Seccion  para mostrar los Articulos-->
			{{if .result}}
			{{$NivelUsuario := .NivelUsuario}}
			
			{{range $indexz, $documento := .result}}

			<div class="row" >
				<!--> Begin Contenido del resultado -->
				<div class="contentInfoArt">
					<!-- <a href="" id="{{$documento.Nombre}}"><h2>{{$documento.Nombre}}</h2></a> -->
					<!-- <a href="#" id="{{$documento.Nombre}}" data-toggle="modal" data-target="#myModal1" onClick="GetArticulo({{$documento.ID}},{{$documento.Nombre}},{{$documento.Codigo}},{{$documento.Tags}},{{$documento.Clave}});">-->
					<div>
						<a href="#" id="{{$documento.Nombre}}" class="tituloProd"  data-toggle="modal" data-target="#myModal1" onClick="MostrarDetalles(`{{$documento}}`,{{$NivelUsuario}});">
							{{$documento.Nombre}}
						</a>
						<a href="#" class="verImgs" data-toggle="modal" data-target="#modalImagen{{$documento.ID}}" >  Ver Imagenes</a>
					</div>
						<div class="modal fade" id="modalImagen{{$documento.ID}}">
							<div class="modal-dialog">    
    							<div class="modal-content">
   									<div class="modal-header">
       									<button type="button" class="close" data-dismiss="modal">&times;</button>
       									<h4 class="modal-title etiquetatitulomodal">Imagen</h4>
    								</div>
    								<div class="modal-body">
       									<div id="Imagenes">
						   
						   					<div class='thumbnail'>
											{{if $documento.TagImg}}

												<div id="{{$documento.ID}}" class="carousel slide" data-ride="carousel">  
							      
						        					<div class="carousel-inner" role="listbox">
						             				{{range $indexi, $valori := $documento.TagImg}}
						          						<div class="item">
						          							<img src="data:image/jpg;base64,{{$valori}}" id="{{$indexi}}_m" onClick="VerImagen({{$indexi}},{{$documento.Nombre}},{{$documento.ID}});" alt='' style='width:100%;' />
						          						</div>
						             				{{end}}
						        					</div>
						      
													<a class="left carousel-control" href="#{{$documento.ID}}" role="button" data-slide="prev">
														<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
														<span class="sr-only">Previous</span>
													</a>
													<a class="right carousel-control" href="#{{$documento.ID}}" role="button" data-slide="next">
														<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
														<span class="sr-only">Next</span>
													</a>

												</div>
											{{else}}
					       						<img src='http://www.redferretera.mx/images/entradas/cache_200_200_tyx_header.png' alt='Lights' style='width:100%'>
											{{end}}
											</div>
       									</div>
       								</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-danger" id="btncerrarmodal" data-dismiss="modal">Cerrar</button>
									</div>
    							</div>  
    						</div>
 						</div>
				    {{if $documento.Modelo}} <span class="etiquetas1">Modelo : {{$documento.Modelo}} </span>  {{end}}
					{{if $documento.Linea}} <span class="etiquetas2">Linea :  {{$documento.Linea}}</span> {{end}}
					{{if $documento.Marca}} <span class="etiquetas3">Marca : {{$documento.Marca}}</span> {{end}}
					{{if $documento.Tags}} <span class="etiquetas4">Tags : {{$documento.Tags}}</span> {{end}}

					<div class="clearfix"></div>	

					<div class="clearfix"></div>				
						{{if $documento.Clave}} <span class="etiquetaclave"> Clave: {{$documento.Clave}}</span> 

						<button class="botoncopiar" onClick="copiarAlPortapapeles('{{$documento.Clave}}');" type="button">
							<span class="glyphicon glyphicon-copy"></span>
						 </button> {{end}}


						{{if $documento.Precio}} <span class="etiquetaprecio"> $ {{CutPrice $documento.Precio}} </span> {{end}}

						<div class="clearfix"></div>

						{{if $documento.Codigo}}<span class="etiquetacodigo"> Codigo: {{$documento.Codigo}}</span>

						<button class="botoncopiar" onClick="copiarAlPortapapeles('{{$documento.Codigo}}');" type="button">
							<span class="glyphicon glyphicon-copy"></span>
						 </button>
 						
 						{{end}}

 						{{if $documento.Existencia}} <span class="etiquetaexistencia"> Tenemos : {{$documento.Existencia}} </span>{{else}}<span class="etiquetaexistencia"> Nos quedan : {{$documento.Existencia}} </span> {{end}}
 
						<div class="clearfix"></div>
						<div class="clearfix"></div>

						{{if $variable}}
					 	<button type="button" class="botonagregar" data-toggle="modal" data-target="#myModal2" data-id="{{$documento.ID}}" data-name="{{$documento.Nombre}}">
							<span class="glyphicon glyphicon-plus"></span>
								Agregar Imagen
			    		</button>
			    		{{end}}
						
						{{if $variable}}
			    		<button type="button" class="botonagregar" data-toggle="modal" data-target="#myModal4" data-id="{{$documento.ID}}"
			    		data-tags="{{$documento.Tags}}">
							<span class="glyphicon glyphicon-plus"></span>
								Agregar Info
						</button>
						{{end}}

				     <div class="clearfix"></div>

				</div>

				<!-- End Contenido del resultado -->
			</div>

			{{end}}
			{{else}}
				<div class="alert alert-danger alert-dismissible" role="alert">
					<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					<center><h1 class="">No se han encontrado resultados</h1></center>
				</div>
			{{end}}
			<!-- Termina Seccion para mostrar los articulos-->

			<div class="row">
				<div class="container text-center">
        			<ul class="pagination">
            		<!-- espacio para la paginacion-->
						{{.PaginacionT}}
            		</ul>
        		</div>
			</div>
		</div>

	</div>
</div>

<!-- ======================Modal Imagen===================================== -->


<!-- ============================================================modals================================ -->

	<div class="clearfix"></div>
	<div class="modal fade" id="myModal1">
		<div class="modal-dialog">    
    		<div class="modal-content">

   				<div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal">&times;</button>
       				<h4 class="modal-title etiquetatitulomodal">Informacion Adicional</h4>
    			</div>

    			<div class="modal-body">
   
       				<div id="contenedor1">	
       				</div>
       			</div>

        		<div class="modal-footer">
   					<!-- <a onClick="Addcampo();" class="btn btn-success input-group"><span class="glyphicon glyphicon-plus"></span> Agregar Campo</a> -->
          			<button type="button" class="btn btn-danger" id="btncerrarmodal" data-dismiss="modal">Cerrar</button>
          			<!-- <button type="button" class="btn btn-primary" id="btnguardarmodal" data-dismiss="modal" onClick="UpdateArticulo();" >Guardar</button> -->
        		</div>
    		</div>  
    	</div>
 	</div>

	<div class="modal fade" id="myModal2">
		<div class="modal-dialog">    
    		<div class="modal-content">

   				<div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal">&times;</button>
       				<h4 class="modal-title etiquetatitulomodal">Imagenes</h4>
    			</div>

    			<div class="modal-body">
      				
       				<div id="divimagen" class="row">
						<div class="col-md-12 well">
							<form method="post" enctype="multipart/form-data" id="modalform" action="/guardarimgdearticulo">

								<div class="form-group">
	 								<label for="d_id">Id:</label>
 									<input hidden type="text" class="form-control" id="d_id" name="d_id" value="" readonly="true" />
								</div>

								<div class="form-group">
	 								<label for="d_id">Nombre:</label>
 									<input type="text" class="form-control etiquetas5" id="d_name" name="d_name" value="" readonly="true" />
								</div>

								<div class="form-group" style="width: 100%">
									<input type="file" name="imagen" id="filer_input" multiple="multiple">
									<!-- <input id="id_imagesup" name="id_imagesup" class="file" type="file" multiple data-preview-file-type="any" data-upload-url="#"/> -->
								</div>

							</form>
						<div id="error_imagen" class="help-block with-errors"></div>
						</div>
					</div>
       			</div>

        		<div class="modal-footer">
          			<button type="button" class="btn btn-danger" id="btncerrarmodal" data-dismiss="modal">Cerrar</button>
          			<input type="submit" form="modalform" id="botonenviarimg" class="btn btn-primary" value="Enviar" disabled />
        		</div>
    		</div>  
    	</div>
 	</div>

	<div class="modal fade" id="myModal3">
		<div class="modal-dialog">    
    		<div class="modal-content">

   				<div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal">&times;</button>
       				<h4 class="modal-title etiquetatitulomodal">Archivos</h4>
    			</div>

    			<div class="modal-body">
   					<legend>
   		    			<h3>Subir Archivos:</h3>
   					</legend>  		
       				
       				<div id="divimagen" class="row">
						<div class="col-md-12 well">
							<form method="post" enctype="multipart/form-data" id="modalform2" action="/guardararchdearticulo">

								<div class="form-group">
	 								<label for="d_id">Id:</label>
 									<input type="text" class="form-control" id="d_id2" name="d_id2" value="" readonly="true" />
								</div>

								<div class="form-group">
	 								<label for="d_id">Nombre:</label>
 									<input type="text" class="form-control" id="d_name2" name="d_name2" value="" readonly="true" />
								</div>

								<div class="form-group" style="width: 100%">
									<input type="file" name="archivo" id="filer_input1" multiple="multiple">
								</div>
							</form>
						<div id="error_imagen" class="help-block with-errors"></div>
						</div>
					</div>
       			</div>

        		<div class="modal-footer">
          			<button type="button" class="btn btn-danger" id="btncerrarmodal" data-dismiss="modal">Cerrar</button>
          			<input type="submit" id="botonenviararch" form="modalform2" class="btn btn-primary" value="Enviar" disabled />
        		</div>
    		</div>  
    	</div>
 	</div>

<!-- ...................................... modal de la imagen ............................................ -->


<div id="myModal" class="modalimg">


  <!-- The Close Button -->
  <span class="closer_b" onclick="document.getElementById('myModal').style.display='none'">&times;</span>
  <span class="eliminar_b glyphicon glyphicon-trash" id="borrar_img"></span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content modal-content-my " id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>


<!-- ...................................................................................................... -->

<!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->

<div class="modal fade" id="myModal4">
	<div class="modal-dialog">    
    	<div class="modal-content">
			<form id="modalform3">
   				<div class="modal-header">
       				<button type="button" class="close" data-dismiss="modal">&times;</button>
       				<h4 class="modal-title etiquetatitulomodal">Etiquetas:</h4>
    			</div>

    			<div class="modal-body">
    				<span class="etiquetaaddinfo">Separa las etiquetas por coma. Ej. tubo,clavo, .. </span>
    				<input type="text" name="article_id_tags" id="article_id_tags" hidden="true">
       				<input type="text" name="article_tags" id="article_tags" class="form-control etiquetas5">
       			</div>

        		<div class="modal-footer">
          			<button type="button" class="btn btn-danger" id="btncerrarmodal" data-dismiss="modal">Cerrar</button>
          			<button type="submit" class="btn btn-primary" id="btnguardarmodal" data-dismiss="modal" onClick="UpdateArticulo();" >Guardar</button>
        		</div>
       		</form>	
    	</div>  
    </div>
</div>

<!-- ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->


<div class="clearfix"></div>
<br>

 <div class="modal fade" id="myModal5">
    <div class="modal-dialog  modal-md">    
        <div class="modal-content">
            <form id="modalform5" name="modalform5" action="/login" method="POST" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title etiquetatitulomodal">Iniciar Sesi&oacute;n :</h4>
                </div>

                <div class="modal-body">


                <div class="form-group">

                    <div class="col-lg-6 col-md-6">
                        
                    <label for="userName" class="etiquetas5">Usuario : </label><input type="text" form="modalform5" name="userName" id="userName" class="form-control">

                    </div>
                    <div class="col-lg-6 col-md-6">
                    <label for="userPass" class="etiquetas5">Constraseña : </label><input form="modalform5" type="password" name="userPass" id="userPass" class="form-control">
                    
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <a class="etiquetalogeo" id="revelarcontraseña" href="#" onclick="MostrarSolicitud()">Olvide mi contraseña</a>

                    <a class="etiquetaregistrarse" id="registrarusuario" href="/registrarse" >Registrarse</a>

                    <div class="clearfix"></div>
                   
                    <div id="solicitudcontraseña"  hidden="true">
                        <br>
                        <div class="col-lg-6 col-md-4">
                                <label for="CorreoRecovery" class="etiquetas5">Correo Electronico : </label>
                                <input type="text" name="CorreoRecovery" id="CorreoRecovery" class="form-control etiquetas5">
                        </div>

                         <div class="col-lg-offset-1 col-md-offset-1 col-lg-4 col-md-4">
                            <button type="submit" class="btn btn-primary etiquetas6 botonrecuperar" onclick="RecuperarContraseña()" data-dismiss="modal">Recuperar</button>
                        </div>
                        <br>
                    </div>

                    <div class="clearfix"></div>

                </div>

                </div>
            </form> 

                <div class="modal-footer">
                <button type="button" class="btn btn-danger etiquetas6"  data-dismiss="modal">Cerrar</button>
                <button type="submit" form="modalform5" class="btn btn-primary etiquetas6" id="botoniniciarsesion" onclick="IniciarSesion()" data-dismiss="modal" >Iniciar</button>
                </div>
        </div>  
    </div>
</div>

{{.Refrescar}}

{{end}}