{{define "scripts_pages"}}
<script src="../../../../Recursos/Local/Buscar/Js/buscar.js" type="text/javascript"></script>
{{end}}

{{define "styles_pages"}}	
<link href="../../../../Recursos/Local/Buscar/Css/Our.css" rel="stylesheet" type="text/css" />
<link href="../../../../Recursos/Local/Index/Css/index.css" rel="stylesheet" type="text/css" />
{{end}}

{{define "content_body"}}
{{.SesionUsuario}}
{{.MensajeT}}
{{.CrearUsuarioT}}
{{end}}



